<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../public/img/icon_bus.ico" type="image/x-icon">
    <title>Bienvenido a elBarrio.com</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">


    <!-- Custom styles for this template -->
    <link href="../public/css/scrolling-nav.css" rel="stylesheet">
    <link href="../public/css/landing-page.min.css" rel="stylesheet">
    <link href="../public/css/desing.css" rel="stylesheet">

</head>

<body id="page-top">


    <!-- Navigation -->
    <nav class="navbar navbar-expand-sm navbar-light encabezado static-top">
        <div class="container">
            <a href="/" class="navbar-brand text1">
                <strong>elBarrio.com</strong>
            </a>

            <ul class="navbar-nav">
                <li class="nav-item text1">
                    <a class="btn btn-link text1" href="/registroUsuarios">Registrarme</a>
                    <!-- <button type="button" class="btn btn-link text1" onclick="registrar();">Registrarme</button> -->
                    <li class="nav-item text1">
                        <a class="nav-link text1" href="/login">Iniciar Sesión</a>
                    </li>
            </ul>




        </div>
    </nav>

    <header class="masthead bg-primary text-white">
        <div class="container text-center">

            <img src="../public/img/icon_bus.ico" height="100px" width="100px" style="color:whitesmoke;">

            <h1>Bienvenido a elBarrio.com!</h1>
            <p class="lead">La plataforma de publicidad para la pequeña y mediana empresa en Honduras y la región.
            </p>
        </div>
    </header>


    <!-- Page Content -->
    <div class="container division">

        <!-- Introduction Row
        <h1 class="my-4">About Us
          <small>It's Nice to Meet You!</small>
        </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere nisi expedita vel?</p> -->

        <!-- Team Members Row -->
        <div class="row">

            <div class="col-lg-4  text-center mb-4 col-lg-4 col-md-4 col-sm-4">
                <i class="rounded-circle img-fluid d-block mx-auto fa fa-bars fa-3x "> </i>
                <h3>Tú eliges tu servicio

                </h3>
                <p>elBarrio es el sitio de publicidad para los pequeños negocios como ser: pulperías, ventas de golosinas, paletas, derivados del maíz(elotes, atole, etc), carretas de frutas y verduras, librerías, etc.</p>
            </div>

            <div class="col-lg-4  text-center mb-4 col-lg-4 col-md-4 col-sm-4">
                <i class="rounded-circle img-fluid d-block mx-auto fa fa-laptop fa-3x "> </i>
                <h3>Desde Cualquier Lugar!

                </h3>
                <p>elBarrio te permite adquirir tu boleto desde cualquier dispositivo móvil sin tener que pasar por contra tiempos inesperados
                </p>
            </div>

            <div class="col-lg-4  text-center mb-4 col-lg-4 col-md-4 col-sm-4">
                <i class="rounded-circle img-fluid d-block mx-auto fa fa-book fa-3x "> </i>
                <h3>Fácil de usar

                </h3>
                <p>elBarrio te da la facilidad de navegar por el sitio, permitindote familiarizarte con el sitio. </p>
            </div>

        </div>

    </div>
    <!-- /.container -->

    <section class="section5">
        <div class="container ">
            <div class="col-lg-12">
                <h2 class="my-4">Nuestros Negocios</h2>
            </div>
            <div class="flex-container">
                <div id="demo" class="carousel slide " data-ride="carousel">

                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <li data-target="#demo" data-slide-to="2"></li>
                        <li data-target="#demo" data-slide-to="3"></li>
                    </ul>

                    <!-- The slideshow -->
                    <div class="carousel-inner ">
                        <div class="carousel-item active">
                            <img src="../public/img/1.jpg" alt="Los Angeles" width="350" height="300">
                        </div>
                        <div class="carousel-item">
                            <img src="../public/img/2.jpeg" alt="Chicago" width="350" height="300">
                        </div>
                        <div class="carousel-item">
                            <img src="../public/img/3.jpg" alt="New York" width="350" height=300 ">
          </div>
          <div class="carousel-item ">
            <img src="../public/img/elotes.jpeg " alt="New York " width="350 " height="300 ">
          </div>
        </div>
        
        <!-- Left and right controls -->
        <a class="carousel-control-prev " href="#demo " data-slide="prev ">
          <span class="carousel-control-prev-icon "></span>
        </a>
        <a class="carousel-control-next " href="#demo " data-slide="next ">
          <span class="carousel-control-next-icon "></span>
        </a>
      </div>
    </div>

    </div>
    <!-- end container -->
  </section>
  <!-- end section2 -->

    
<section class="section4 text-center ">
    <div id="nav " class="right ">
  
    </div>
    <!-- nav -->
    </div>
    <div class=" ">
      <h3>Pequeñas y medianas empresas</h3>
      <hr class="general-title ">
    </div>
    <div class="portfolio-wrapper ">
      

      <!-- end owl-demo -->
    </div>
    <!-- end portfolio-wrapper -->
  
  </section>
  <hr id="asdf ">

  <!-- Footer -->
  <footer class="footer bg-light ">
    <div class="container ">
      <div class="row ">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto ">
          <ul class="list-inline mb-2 ">
            <li class="list-inline-item ">
              <a href="# ">Acerca</a>
            </li>
            <li class="list-inline-item ">&sdot;</li>
            <li class="list-inline-item ">
              <a href="# ">Contacto</a>
            </li>
            <li class="list-inline-item ">&sdot;</li>
            <li class="list-inline-item ">
              <a href="# ">Terminos de Uso</a>
            </li>
            <li class="list-inline-item ">&sdot;</li>
            <li class="list-inline-item ">
              <a href="# ">Politica de Privacidad</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0 ">&copy; elBarrio 2019. Todos los derechos reservados.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto ">
          <ul class="list-inline mb-0 ">
            <li class="list-inline-item mr-3 ">
              <a href="# ">
                <i class="fab fa-facebook fa-2x fa-fw "></i>
              </a>
            </li>
            <li class="list-inline-item mr-3 ">
              <a href="# ">
                <i class="fab fa-twitter-square fa-2x fa-fw "></i>
              </a>
            </li>
            <li class="list-inline-item ">
              <a href="# ">
                <i class="fab fa-instagram fa-2x fa-fw "></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
 


  <!-- Bootstrap core JavaScript -->
  <script src="js/jquery.min.js "></script>
  <script src="js/bootstrap.bundle.min.js "></script>

  <!-- Plugin JavaScript -->
  <script src="js/jquery.easing.min.js "></script>

  <!-- Custom JavaScript for this theme -->
  <script src="js/scrolling-nav.js "></script>
  <script>
    function registrar(){
        location.href="/registroUsuarios "
    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js "></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js "></script>

</body>

</html>